.background{
    background-image: url("https://images.unsplash.com/photo-1544640808-32ca72ac7f37?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}
html, body {
    height: 100%;
    margin: 0; /* Loại bỏ margin mặc định của body */
  }
  
  #root {
    min-height: 100vh; /* Đảm bảo root chiếm ít nhất toàn bộ viewport */
    display: flex;
    flex-direction: column; /* Thiết lập flex container để nội dung có thể mở rộng */
  }